* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    font-family: "Poppins", sans-serif;
    background: #141432;
    color: #ffffff;
}

.radio-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.radio-item [type="radio"] {
    display: none;
}

.radio-item+.radio-item {
    margin-top: 15px;
}

.radio-item label {
    display: block;
    padding: 20px 60px;
    background: #1d1d42;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    min-width: 250px;
    white-space: nowrap;
    position: relative;
}

.radio-item label:after,
.radio-item label:before {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.radio-item label:after {
    height: 20px;
    width: 20px;
    border: 2px solid #524eee;
    left: 20px;
    top: calc(50% - 12px);
}

.radio-item label:before {
    background: #524eee;
    height: 10px;
    width: 10px;
    left: 27px;
    top: calc(50% - 5px);
    transform: scale(5);
    transition: .4s ease-in-out 0s;
    opacity: 0;
    visibility: hidden;
}

.radio-item [type="radio"]:checked~label {
    border-color: #524eee;
}

.radio-item [type="radio"]:checked~label:before {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}