* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://images.pexels.com/photos/313782/pexels-photo-313782.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-box {
    background: #ff574a;
    text-align: center;
    padding: 40px 90px;
    color: #fff;
    position: relative;
    border-radius: 20px;
    width: 37%;
    margin-left: 330px;
    margin-top: 50px;
    height: 400px;
}

.arrow {
    margin-top: 20px;
}

.learnbprofile {
    margin-top: -20px;
}

.txt_area {
    margin-bottom: 25px;
    font-size: small;
}

.text2 {
    text-decoration: none;
    color: #ff574a;
}

.menu-icon {
    width: 25px;
    position: absolute;
    left: 40px;
    top: 40px;
}

.setting-icon {
    width: 25px;
    position: absolute;
    right: 40px;
    top: 40px;
}

@keyframes animate1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.image-container {
    margin-top: 15px;
    margin-left: 20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f8fbfd;
    box-shadow: 0 5px 5px -4px rgba(0, 0, 0, 0.2);
    animation: 0.5s animate1 linear;
    align-items: center;
}

.image-container img {
    transform: translateZ(1px);
    height: 120px;
    width: 120px;
    display: block;
    margin: 0px auto;
}

.image-container svg {
    font-size: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -105px;
    margin-right: 50px;
    margin-left: -5px;
}

.text {
    margin-top: -20px;
    align-items: center;
}

.profile-pic {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: #fff;
    padding: 6px;
}

.profile-bottom {
    background: #fff;
    color: #999;
    padding: 60px 0px;
    margin-right: -90px;
    margin-left: -90px;
    margin-bottom: -40px;
    border-radius: 20px;
    margin-top: -20px;
}

.profile-bottom img {
    width: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.profile-box button {
    background: #fff;
    color: #ff574a;
    border: none;
    outline: none;
    box-shadow: 0px 5px 10px rgba(244, 67, 54, 0.5);
    padding: 15px 60px;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: -5px;
    font-weight: 600;
    font-size: 15px;
}

.profile-box h3 {
    font-size: 22px;
    margin-top: 20px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-top: 3px;
}

.social-media img {
    height: 25px;
    width: 20px;
    margin: 30px 5px;
    cursor: pointer;
    margin-top: -10px;
}

.camera-icon {
    display: block;
    width: 31px;
    height: 31px;
    background-color: black;
    display: grid;
    place-content: center;
    border-radius: 50%;
    position: absolute;
    animation: animate2 0.3s linear;
    font-size: 22px;
    margin-top: -35px;
    margin-left: 110px;
}

.user-icon {
    color: #37adfd;
    width: 20%;
    height: 20%;
    margin-top: -110px;
    margin-left: 43px;
}

.wrapper {
    width: 150px;
    height: 150px;
    margin-left: 30px;
}

@keyframes animate2 {
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}