* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo img {
    size: 40px;
    width: 400px;
    margin-bottom: -45px;
    margin-top: 25px;
    margin-left: 30px;
    padding-bottom: -50px;
}

.login-page {
    margin-top: -40px;
}

.text {
    padding-top: 70px;
    padding-left: 40px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.full-page {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://images.pexels.com/photos/313782/pexels-photo-313782.jpeg");
    background-position: center;
    background-size: cover;
    position: absolute;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
    margin-top: -40px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 70px;
}

nav ul li a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-family: sans-serif;
}

nav ul li button {
    font-size: 15px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}

nav ul li button:hover {
    color: rgb(195, 109, 56);
}

nav ul li a:hover {
    color: rgb(195, 109, 56);
}

a {
    text-decoration: none;
    color: palevioletred;
    font-size: 28px;
}

.form-box {
    width: 380px;
    height: 450px;
    position: relative;
    margin: 2% auto;
    background: rgba(135, 131, 131, 0.121);
    padding: 10px;
    overflow: hidden;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: white;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: rgb(223, 135, 80);
    border-radius: 30px;
    transition: .5s;
}

.input-group-login {
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-group-register {
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: rgb(223, 135, 80);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 34px 0;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
}

#login input {
    color: white;
    font-size: 15;
}

#register {
    left: 450px;
}

#register input {
    color: white;
    font-size: 15;
}