<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="/static/logo.ico" rel="icon">
        <title>C$50 FINAL PROJECT: {% block title %}{% endblock %}</title>
        <link href="/static/first.css" rel="stylesheet">
    </head>
    <body>
        <div class="full-page">
            <a href="#" class="logo">
                <img src="{{logo_path}}" alt="">
            </a>
            <div class="navbar">
                <nav class="top">
                    <ul id='MenuItems'>
                        <li><a href='/'>Home</a></li>
                        <li><a href='#'>About Us</a></li>
                        <li><a href='#'>Services</a></li>
                        <li><a href='#'>Contact</a></li>
                    </ul>
                </nav>
            </div>

            <h1 class="header"> Connect With CS50 Students Worldwide.</h1>
            <br>
            <div class="sub-header">
                <p>Looking for brand new buddies as you are taking the Harvard CS50 course? you </p>
                <p>ought not to worry anymore as CS50 Meet is right here for you.</p>
                <p>CS50 Meet is a platform that permits you to engage and make friends with fellow </p>
                <p>CS50 college students by matching you with others with similar personalities and </p>
                <p>interests as you.</p>
                <p>Just inform us a bit about your self and CS50 Meet will match you together along </p>
                <p>with your new exceptional friends with comparable interests and personalities.</p>
            </div>
            
            <div class="button">
                <a href="/login" class="btn"><span>Join Now</span></a>
            </div>
        </div>
    </body>
</html>