<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>C$50 MEET: {% block title %}{% endblock %}</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <link href="/static/interests.css" rel="stylesheet">

      <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&display=swap" rel="stylesheet">
    <!-- Line Awesome CDN Link -->
      <link href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" rel="stylesheet" >
  </head>
  <body>
    <div class="main-container">
      <div class="head">
        <h2>What are your hobbies and interests?</h2>
      </div>
      <form action="/interests" method="post" class="parent" id="demo">
        <section class="radio-section1" id="form">
          <div class="radio-list">
            <div class="radio-item">
                <input type="checkbox" name="interest" id="radio1" value="Accounting&financial">
                <label for="radio1">Accounting & financial</label>
            </div>
            <div class="radio-item">
                <input type="checkbox" name="interest" id="radio2" value="Art&design">
                <label for="radio2">Art & design</label>
            </div>
            <div class="radio-item">
                <input type="checkbox" name="interest" id="radio3" value="Business & marketing">
                <label for="radio3">Business & marketing</label>
            </div>
            <div class="radio-item">
                <input type="checkbox" name="interest" id="radio4" value="Real estate">
                <label for="radio4">Real estate</label>
            </div>

            <div class="radio-item">
              <input type="checkbox" name="interest" id="radio5" value="Baking">
              <label for="radio5">Baking</label>
            </div>

            <div class="radio-item">
              <input type="checkbox" name="interest" id="radio6" value="Board games">
              <label for="radio6">Board games</label>
            </div>

            <div class="radio-item">
              <input type="checkbox" name="interest" id="radio7" value="Gymnastics">
              <label for="radio7">Gymnastics</label>
            </div>
          </div>
        </section>
         
        <section class="radio-section2">
          <div class="radio-list">
              <div class="radio-item">
                  <input type="checkbox" name="interest" id="radio8" value="Music">
                  <label for="radio8">Music</label>
              </div>
              <div class="radio-item">
                  <input type="checkbox" name="interest" id="radio9" value="Sports">
                  <label for="radio9">Sports</label>
              </div>
              <div class="radio-item">
                  <input type="checkbox" name="interest" id="radio10" value="Technology">
                  <label for="radio10">Technology</label>
              </div>
              <div class="radio-item">
                  <input type="checkbox" name="interest" id="radio11" value="Math & Sciences">
                  <label for="radio11">Math & Sciences</label>
              </div>

              <div class="radio-item">
                <input type="checkbox" name="interest" id="radio12" value="Martial arts">
                <label for="radio12">Martial arts</label>
            </div>

            <div class="radio-item">
              <input type="checkbox" name="interest" id="radio13" value="Gaming">
              <label for="radio13">Gaming</label>
            </div>

            <div class="radio-item">
                <input type="checkbox" name="interest" id="radio14" value="Agriculture">
                <label for="radio14">Agriculture</label>
            </div>
          </div>
        </section>

        <section class="radio-section3">
          <div class="radio-list">
              <div class="radio-item">
                  <input type="checkbox" name="interest" id="radio16" value="Investments">
                  <label for="radio16">Investments</label>
              </div>
          
              <div class="radio-item">
                  <input type="checkbox" name="interest" id="radio18" value="Travel">
                  <label for="radio18">Travel</label>
              </div>

              <div class="radio-item">
                <input type="checkbox" name="interest" id="radio19" value="Entertainment">
                <label for="radio19">Entertainment</label>
              </div>

            <div class="radio-item">
              <input type="checkbox" name="interest" id="radio20" value="Reading">
              <label for="radio20">Reading</label>
            </div>

            <div class="radio-item">
              <input type="checkbox" name="interest" id="radio21" value="Fitness">
              <label for="radio21">Fitness</label>
            </div>
            <div class="radio-item">
              <input type="checkbox" name="interest" id="radio30" value="TED talks">
              <label for="radio30">TED talks</label>
            </div>
            <div class="radio-item">
              <input type="checkbox" name="interest" id="radio29" value="Sightseeing">
              <label for="radio29">Sightseeing</label>
            </div>
          </div>
        </section>

        <section class="radio-section4">
          <div class="radio-list">
              <div class="radio-item">
                  <input type="checkbox" name="interest" id="radio22" value="Careers">
                  <label for="radio22">Careers</label>
              </div>
              <div class="radio-item">
                  <input type="checkbox" name="interest" id="radio23" value="Yoga">
                  <label for="radio23">Yoga</label>
              </div>
              <div class="radio-item">
                  <input type="checkbox" name="interest" id="radio24" value="Food">
                  <label for="radio24">Food</label>
              </div>
              <div class="radio-item">
                  <input type="checkbox" name="interest" id="radio25" value="Outdoors">
                  <label for="radio25">Outdoors</label>
              </div>

              <div class="radio-item">
                <input type="checkbox" name="interest" id="radio26" value="Writing">
                <label for="radio26">Writing</label>
            </div>

            <div class="radio-item">
              <input type="checkbox" name="interest" id="radio27" value="Animation & comics">
              <label for="radio27">Animation & comics</label>
            </div>

            <div class="radio-item">
              <input type="checkbox" name="interest" id="radio28" value="Fashion & beauty">
              <label for="radio28">Fashion & beauty</label>
            </div>
            <button class="btn" id="btn1">
              Submit
            </button>
          </div>
        </section>
      </form>
    </div>

    <script>
      db = SQL("sqlite:///data.db")
      const btn1 = document.getElementById("btn1");
      const radio1 = document.getElementById("radio1");
      const radio2 = document.getElementById("radio2");

      function fun1(){
        

        db.run("INSERT INTO hobbies_interests(question) VALUES(?, ?, ?)", btn, radio1, radio2);
      }

      btn.addEventListener("click", fun1);

    </script>
  </body>
<html>