<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>C$50 MEET: {% block title %}{% endblock %}</title>
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/login.css" rel="stylesheet">
</head>
<body>
    <div class="full-page">
        <div class="logo-img">
            <a href="#" class="logo">
                <img src="{{logo_path}}" alt="">
            </a>
        </div>
        <div class="navbar">
            
            <nav>
                <ul id='MenuItems'>
                    <li><a href='/'>Home</a></li>
                    <!--
                    <li><a href='#'>About Us</a></li>
                    <li><a href='#'>Services</a></li>
                    <li><a href='#'>Contact</a></li>
                    -->
                    <li><button class='loginbtn' onclick="document.getElementById('login-form').style.display='block'" style="width:auto;">Register</button></li>
                    <li><button class='loginbtn' onclick="document.getElementById('login-form').style.display='block'" style="width:auto;">Login</button></li>
                </ul>
            </nav>
        </div>

        <div id='login-form'class='login-page'>
            <div class="form-box">
                <div class='button-box'>
                    <div id='btn'></div>
                    <button type='button'onclick='login()'class='toggle-btn'>Log In</button>
                    <button type='button'onclick='register()'class='toggle-btn'>Register</button>
                </div>
                <form action="/login" method="post" id='login' class='input-group-login'>
                    <input type='email'class='input-field'placeholder='Email Id' name="email" required >
                    <input type='password'class='input-field'placeholder='Enter Password' name="password" required>
                    <input type='checkbox'class='check-box'><span>Remember Password</span>
                    <button type='submit'class='submit-btn'>Log in</button>
		        </form>
		        <form action="/register" method="post" id='register' class='input-group-register'>
                    <input type='text'class='input-field'placeholder='FullName' name="fullname" required>
                    <input type='email'class='input-field'placeholder='Email' name="email" required>
                    <input type='password'class='input-field'placeholder='Enter Password' name="password" required>
                    <!--<input type='password'class='input-field'placeholder='Confirm Password' name="confirmation"  required>-->
                    <input type='text'class='input-field'placeholder="'who you are','where you work' or 'what you do'" name="about">
                    <input type='checkbox'class='check-box'><span>I agree to the terms and conditions.</span>
                    <button type='submit'class='submit-btn'>Register</button>
	            </form>
            </div>
        </div>
    </div>
    <script>
        var x=document.getElementById('login');
		var y=document.getElementById('register');
		var z=document.getElementById('btn');
		function register()
		{
			x.style.left='-400px';
			y.style.left='50px';
			z.style.left='110px';
		}
		function login()
		{
			x.style.left='50px';
			y.style.left='450px';
			z.style.left='0px';
		}
	</script>
	<script>
        var modal = document.getElementById('login-form');
        window.onclick = function(event) 
        {
            if (event.target == modal) 
            {
                modal.style.display = "none";
            }
        }
    </script>
</body>
</html>