<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="/static/logo.ico" rel="icon">
        <title>C$50 MEET: {% block title %}{% endblock %}</title>
        <link href="/static/match.css" rel="stylesheet">
    </head>
    <body>
        <button class="btn" id="btn1">
            <a href="/homepage" class="text">Find Match</a>
          </button>
    </body>
</html>
